Flask==3.0.0
python-dotenv==1.0.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.110.0
Werkzeug==3.0.1
Flask-WTF==1.2.1
PyMySQL==1.1.0
SQLAlchemy==1.4.53
alembic==1.13.1
click==8.1.7
pt-p710bt-label-maker @ git+https://github.com/jantman/pt-p710bt-label-maker.git@jantman